{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<header class="masthead">
  <div class=" pro masthead-content text-black text-center">
    <div class="container align-items-center ">
      <img  class="profile_img mb-5" src="{{profile.user.profile.image.url}}" alt="">
      <h1 class="masthead-subheading mb-0">{{profile.user.first_name}} {{profile.user.last_name}}</h1>
       <p class="mb-0"><strong>Username:</strong> {{profile.user.username}}</p>
       <p><strong>Email: </strong>{{profile.user.email}}</p>
                     
                     
                      {% if profile.user.id == request.user.id  %}
                        <a href= "{% url 'events:update-profile' profile.user.id %}" ><button class="btn btn-primary btn-xl rounded-pill mt-5">Edit</button></a>
                      

                     {% else %}

                      {% if followers_of_user == True %}
                     
                          <form action="{% url 'events:profile'  profile.user.id %}" method="POST">
                              {% csrf_token %}
                              <input class="btn btn-outline-primary btn-xl rounded-pill mt-5" type="submit" value="Unfollow" name="unfollow">
                          </form>
                       <br>
                       
                          <button class="btn btn-secondary btn-xl rounded-pill mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Organizer's Events</button>
                    
                     
                   
                          <div class="collapse" id="collapseExample">
                            {% for event in events %}
                          <div class="card card-body">
                            <p>{{event.title}}</p>
                            <p>{{event.location}}</p>
                            <p>{{event.time}} - {{event.date}}</p>
                            <br>
                            {% if event.seats_left == 0  %}
                            <p class="btn btn-danger block btn disabled" >FULL</p>
                            {% else %}
                            <p><a href="{% url 'events:event-book' event.id %}" class="btn btn-secondary" style="background-color: yellow color: white">Book Now!</a></p>
                            {% endif %}
                           <p><a href="{% url 'events:event-detail' event.id %}" class="btn btn-outline-secondary" style="background-color: yellow color: white">View Details</a></p>
                          </div>
                                {% endfor %}
                                </div>
                        

                      {% else %}
                       
                          <form action="{% url 'events:profile' profile.user.id %}" method="POST">
                               {% csrf_token %}
                              <input class="btn btn-secondary btn-xl rounded-pill mt-5" type="submit" value="Follow" name="follow">
                          </form>
                        
                      {% endif %}
                      {% endif %}
                    
              </div>
          </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}